Repository Daily-DAYO/DAYO_Android, pull requests merged in 2021-11, with the labels that each got.

#2 [layout] MainActivity, HomeFragment
  .idea/runConfigurations.xml
  app/build.gradle
  app/src/main/java/com/daily/dayo/home/HomeFragment.kt
  app/src/main/java/com/daily/dayo/write/WriteFragment.kt
  app/src/main/res/drawable/ic_dayo_grayscale.xml
  app/src/main/res/drawable/ic_feed.xml
  app/src/main/res/drawable/ic_home.xml
  app/src/main/res/drawable/ic_like_default.xml
  app/src/main/res/drawable/ic_like_pressed.xml
  app/src/main/res/drawable/ic_my_page.xml
  app/src/main/res/drawable/ic_notification.xml
  app/src/main/res/drawable/ic_search.xml
  app/src/main/res/drawable/selector_bottom_navigation_color.xml
  app/src/main/res/layout/activity_main.xml
  app/src/main/res/layout/fragment_home.xml
  app/src/main/res/layout/fragment_write.xml
  app/src/main/res/layout/item_main_post.xml
  app/src/main/res/menu/menu_main_bottom.xml
  app/src/main/res/navigation/nav_graph.xml
  app/src/main/res/values-night/themes.xml
  app/src/main/res/values/colors.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/values/themes.xml
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
Labels: layout

#6 [layout] MainActivity, HomeFragment, WriteFragment, WriteTagFragment
  app/build.gradle
  app/src/main/java/com/daily/dayo/MainActivity.kt
  app/src/main/java/com/daily/dayo/home/DayoPickPostListFragment.kt
  app/src/main/java/com/daily/dayo/home/HomeFragment.kt
  app/src/main/java/com/daily/dayo/home/HomeFragmentPagerStateAdapter.kt
  app/src/main/java/com/daily/dayo/home/NewPostListFragment.kt
  app/src/main/java/com/daily/dayo/write/WriteFragment.kt
  app/src/main/java/com/daily/dayo/write/WriteTagFragment.kt
  app/src/main/res/drawable/button_default_green.xml
  app/src/main/res/drawable/button_default_white.xml
  app/src/main/res/drawable/edittext_default_white.xml
  app/src/main/res/drawable/hint_upload_picture.xml
  app/src/main/res/drawable/ic_back_sign.xml
  app/src/main/res/drawable/ic_background_post_ranking_number.xml
  app/src/main/res/drawable/ic_plus_sign.xml
  app/src/main/res/drawable/ic_x_sign.xml
  app/src/main/res/drawable/selector_button_home_post_category.xml
  app/src/main/res/drawable/selector_button_home_post_category_text.xml
  app/src/main/res/drawable/selector_button_write_post_tag.xml
  app/src/main/res/layout/activity_main.xml
  app/src/main/res/layout/fragment_dayo_pick_post_list.xml
  app/src/main/res/layout/fragment_home.xml
  app/src/main/res/layout/fragment_new_post_list.xml
  app/src/main/res/layout/fragment_write.xml
  app/src/main/res/layout/fragment_write_tag.xml
  app/src/main/res/layout/item_main_post.xml
  app/src/main/res/layout/item_write_post_tag.xml
  app/src/main/res/menu/menu_main_bottom.xml
  app/src/main/res/navigation/nav_graph.xml
  app/src/main/res/values/strings.xml
  build.gradle
Labels: layout

#8 [layout] FeedFragment
  app/build.gradle
  app/src/main/java/com/daily/dayo/feed/FeedFragment.kt
  app/src/main/res/drawable/ic_bookmark.xml
  app/src/main/res/drawable/ic_comment.xml
  app/src/main/res/drawable/ic_option.xml
  app/src/main/res/drawable/ic_post_like_default.xml
  app/src/main/res/drawable/ic_post_like_pressed.xml
  app/src/main/res/drawable/ic_share.xml
  app/src/main/res/layout/fragment_feed.xml
  app/src/main/res/layout/item_feed_post.xml
  app/src/main/res/layout/item_feed_post_comment.xml
  app/src/main/res/layout/item_feed_post_image.xml
  app/src/main/res/navigation/nav_graph.xml
Labels: layout

#11 [layout] WriteOptionFragment, Navigate WriteFragment
  app/build.gradle
  app/src/main/java/com/daily/dayo/write/WriteFragment.kt
  app/src/main/java/com/daily/dayo/write/WriteOptionFragment.kt
  app/src/main/java/com/daily/dayo/write/WriteTagFragment.kt
  app/src/main/res/drawable/dialog_bottom_sheet_default.xml
  app/src/main/res/drawable/ic_right_sign__light_gray.xml
  app/src/main/res/drawable/ic_swipe_top_bar.xml
  app/src/main/res/drawable/selector_button_write_option_private.xml
  app/src/main/res/drawable/selector_button_write_option_private_text.xml
  app/src/main/res/layout/fragment_write_option.xml
  app/src/main/res/navigation/nav_graph.xml
  app/src/main/res/values-night/themes.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/values/themes.xml
Labels: layout

#14 [layout] WriteFragment, WriteTagFragment
  app/src/main/res/drawable/button_write_post_tag.xml
  app/src/main/res/drawable/selector_button_write_post_tag.xml
  app/src/main/res/layout/fragment_write.xml
  app/src/main/res/layout/fragment_write_tag.xml
  app/src/main/res/layout/item_write_post_tag.xml
Labels: layout

#19 #16 [layout] textSize sp convert to dp
  app/src/main/res/layout/fragment_search.xml
  app/src/main/res/layout/item_feed_post.xml
  app/src/main/res/layout/item_feed_post_comment.xml
  app/src/main/res/layout/item_search_recent_keyword.xml
  app/src/main/res/layout/item_search_recommend_keyword.xml
Labels: layout

#21 #20 [layout] PostFragment
  app/src/main/java/com/daily/dayo/post/PostFragment.kt
  app/src/main/res/drawable/edittext_background_post_comment_write.xml
  app/src/main/res/layout/fragment_post.xml
  app/src/main/res/navigation/nav_graph.xml
  app/src/main/res/values/strings.xml
Labels: layout

#23 #22 [layout] PostFragment, Comment
  app/src/main/java/com/daily/dayo/post/PostFragment.kt
  app/src/main/java/com/daily/dayo/post/SwipeHelperCallback.kt
  app/src/main/java/com/daily/dayo/post/SwipeListAdapter.kt
  app/src/main/res/layout/fragment_post.xml
  app/src/main/res/layout/item_post_comment.xml
  app/src/main/res/values/strings.xml
Labels: layout

#25 #15 [layout] MyProfileFragment, OtherProfileFragment, FolderFragment
  app/src/main/java/com/daily/dayo/MainActivity.kt
  app/src/main/java/com/daily/dayo/profile/FolderFragment.kt
  app/src/main/java/com/daily/dayo/profile/MyProfileFragment.kt
  app/src/main/java/com/daily/dayo/profile/MyProfileFragmentPagerStateAdapter.kt
  app/src/main/java/com/daily/dayo/profile/OtherProfileFragment.kt
  app/src/main/java/com/daily/dayo/profile/ProfileFolderListFragment.kt
  app/src/main/java/com/daily/dayo/profile/ProfileLikePostListFragment.kt
  app/src/main/res/drawable/button_profile_edit_circle.xml
  app/src/main/res/drawable/button_profile_folder_default_gray.xml
  app/src/main/res/drawable/ic_back_sign_white.xml
  app/src/main/res/drawable/ic_profile_edit.xml
  app/src/main/res/drawable/ic_profile_folder_post_count.xml
  app/src/main/res/drawable/ic_search_white.xml
  app/src/main/res/drawable/ic_setting.xml
  app/src/main/res/drawable/selector_button_other_profile_follow.xml
  app/src/main/res/layout/fragment_folder.xml
  app/src/main/res/layout/fragment_my_profile.xml
  app/src/main/res/layout/fragment_other_profile.xml
  app/src/main/res/layout/fragment_profile_folder_list.xml
  app/src/main/res/layout/fragment_profile_like_post_list.xml
  app/src/main/res/layout/item_folder_post.xml
  app/src/main/res/layout/item_profile_folder.xml
  app/src/main/res/layout/item_profile_like_post.xml
  app/src/main/res/menu/menu_main_bottom.xml
  app/src/main/res/navigation/nav_graph.xml
Labels: layout

#27 #26 [layout] WriteFolderFragment, FolderAddFragment
  app/src/main/java/com/daily/dayo/FolderAddFragment.kt
  app/src/main/java/com/daily/dayo/write/WriteFolderFragment.kt
  app/src/main/java/com/daily/dayo/write/WriteOptionFragment.kt
  app/src/main/res/drawable/selector_button_write_option_private_text.xml
  app/src/main/res/layout/fragment_folder_add.xml
  app/src/main/res/layout/fragment_write_folder.xml
  app/src/main/res/layout/item_folder_list.xml
  app/src/main/res/navigation/nav_graph.xml
  app/src/main/res/values/strings.xml
Labels: layout

#29 #17 [layout] SearchFragment Keyword Input
  app/src/main/java/com/daily/dayo/feed/FeedFragment.kt
  app/src/main/res/drawable/selector_button_search_recommend_keyword.xml
  app/src/main/res/layout/fragment_feed.xml
  app/src/main/res/layout/fragment_other_profile.xml
  app/src/main/res/layout/fragment_search.xml
  app/src/main/res/layout/item_search_recommend_keyword.xml
  app/src/main/res/navigation/nav_graph.xml
  app/src/main/res/values/strings.xml
Labels: layout

#31 #30 [layout] MainActivity, PostFragment
  app/src/main/java/com/daily/dayo/MainActivity.kt
  app/src/main/res/drawable/ic_dayo.xml
  app/src/main/res/drawable/selector_button_write.xml
  app/src/main/res/drawable/selector_textview_post_tag_text.xml
  app/src/main/res/layout/activity_main.xml
  app/src/main/res/layout/fragment_post.xml
  app/src/main/res/layout/item_post_tag.xml
  app/src/main/res/menu/menu_main_bottom.xml
  app/src/main/res/navigation/nav_graph.xml
Labels: layout

#33 #32 [bug] Typo Correction
  app/src/main/res/drawable/ic_right_sign_light_gray.xml
  app/src/main/res/layout/fragment_post.xml
  app/src/main/res/layout/fragment_write_option.xml
Labels: bug

#36 #35 [refactoring] AutoClearedValue Apply
  app/build.gradle
  app/src/main/java/com/daily/dayo/FolderAddFragment.kt
  app/src/main/java/com/daily/dayo/feed/FeedFragment.kt
  app/src/main/java/com/daily/dayo/follow/FollowFragment.kt
  app/src/main/java/com/daily/dayo/follow/FollowerListFragment.kt
  app/src/main/java/com/daily/dayo/follow/FollowingListFragment.kt
  app/src/main/java/com/daily/dayo/home/DayoPickPostListFragment.kt
  app/src/main/java/com/daily/dayo/home/HomeFragment.kt
  app/src/main/java/com/daily/dayo/home/NewPostListFragment.kt
  app/src/main/java/com/daily/dayo/post/PostFragment.kt
  app/src/main/java/com/daily/dayo/profile/MyProfileFragment.kt
  app/src/main/java/com/daily/dayo/profile/ProfileFolderListFragment.kt
  app/src/main/java/com/daily/dayo/profile/ProfileLikePostListFragment.kt
  app/src/main/java/com/daily/dayo/util/AutoClearedValue.kt
  app/src/main/java/com/daily/dayo/write/WriteFolderFragment.kt
  app/src/main/java/com/daily/dayo/write/WriteFragment.kt
  app/src/main/java/com/daily/dayo/write/WriteOptionFragment.kt
  app/src/main/java/com/daily/dayo/write/WriteTagFragment.kt
Labels: refactoring

#38 #37 [refactoring] Dependencies Version Update
  app/build.gradle
Labels: refactoring

#40 #39 [refactoring] Apply Jetpack Compose
  app/build.gradle
  app/src/main/AndroidManifest.xml
Labels: refactoring

#42 #41 [refactoring] Kotlin Version Update
  build.gradle
Labels: refactoring

#43 #24 [bug] PostFragment Comment
  app/src/main/res/layout/fragment_post.xml
Labels: bug

#44 #34 [layout] LoginFragment
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/daily/dayo/login/LoginActivity.kt
  app/src/main/res/drawable/button_login_email.xml
  app/src/main/res/drawable/button_login_google.xml
  app/src/main/res/drawable/button_login_kakao.xml
  app/src/main/res/drawable/ic_dayo_vertical.xml
  app/src/main/res/layout/activity_login.xml
Labels: layout

#48 #47 [feature] Retrofit2, OkHttp, Hilt, HomeFragment Adapter
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/daily/dayo/DayoApplication.kt
  app/src/main/java/com/daily/dayo/MainActivity.kt
  app/src/main/java/com/daily/dayo/home/DayoPickPostListFragment.kt
  app/src/main/java/com/daily/dayo/home/HomeFragment.kt
  app/src/main/java/com/daily/dayo/home/NewPostListFragment.kt
  app/src/main/java/com/daily/dayo/home/adapter/HomeDayoPickAdapater.kt
  app/src/main/java/com/daily/dayo/home/adapter/HomeFragmentPagerStateAdapter.kt
  app/src/main/java/com/daily/dayo/home/model/ResponseHomePost.kt
  app/src/main/java/com/daily/dayo/profile/MyProfileFragment.kt
  app/src/main/res/layout/item_main_post.xml
  build.gradle
Labels: feature

#50 #49 [bug] Disable Compose
  app/build.gradle
  build.gradle
Labels: bug

#53 #46 [feature] Kakao Login
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/daily/dayo/DayoApplication.kt
  app/src/main/java/com/daily/dayo/login/LoginActivity.kt
  app/src/main/java/com/daily/dayo/login/LoginRepository.kt
  app/src/main/java/com/daily/dayo/login/LoginRequest.kt
  app/src/main/java/com/daily/dayo/login/LoginResponse.kt
  app/src/main/java/com/daily/dayo/login/LoginService.kt
  app/src/main/java/com/daily/dayo/login/LoginServiceImpl.kt
  app/src/main/java/com/daily/dayo/login/LoginViewModel.kt
  build.gradle
Labels: feature

#55 #54 [feature] Network Setting, DayoPickPostListFragment
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/daily/dayo/di/NetworkModule.kt
  app/src/main/java/com/daily/dayo/di/ServiceModule.kt
  app/src/main/java/com/daily/dayo/home/DayoPickPostListFragment.kt
  app/src/main/java/com/daily/dayo/home/viewmodel/HomeViewModel.kt
  app/src/main/java/com/daily/dayo/network/home/HomeApiHelper.kt
  app/src/main/java/com/daily/dayo/network/home/HomeApiHelperImpl.kt
  app/src/main/java/com/daily/dayo/network/home/HomeApiService.kt
  app/src/main/java/com/daily/dayo/repository/HomeRepository.kt
  app/src/main/java/com/daily/dayo/util/Resource.kt
  app/src/main/java/com/daily/dayo/util/Status.kt
Labels: feature

#57 #56 [feature] WriteFragment RadioButton Value
  app/src/main/java/com/daily/dayo/write/WriteFragment.kt
  app/src/main/res/layout/fragment_write.xml
Labels: feature

#62 #58 [feature] passing the data about postTagList in Write
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/daily/dayo/write/WriteFragment.kt
  app/src/main/java/com/daily/dayo/write/WriteOptionFragment.kt
  app/src/main/java/com/daily/dayo/write/WriteTagFragment.kt
  app/src/main/res/layout/fragment_write_option.xml
  app/src/main/res/layout/fragment_write_tag.xml
  app/src/main/res/layout/item_write_post_tag_chip.xml
  app/src/main/res/navigation/nav_graph.xml
  app/src/main/res/values-night/themes.xml
  app/src/main/res/values/themes.xml
  build.gradle
Labels: feature, layout

#63 #59 [feature] Image Upload in WriteFragment
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/daily/dayo/write/WriteFragment.kt
  app/src/main/java/com/daily/dayo/write/WriteUploadImageListAdapter.kt
  app/src/main/res/layout/fragment_write.xml
  app/src/main/res/layout/item_write_post_upload_image.xml
Labels: feature, layout

#64 #61 [bug] LoginActivity to MainActivity
  app/src/main/java/com/daily/dayo/login/LoginActivity.kt
Labels: bug
