Repository Daily-DAYO/DAYO_Android, pull requests merged in 2022-07, with the labels that each got.

#271 #270 [feature] Create Glide Loading Util
  app/src/main/java/com/daily/dayo/common/GlideLoadUtil.kt
  app/src/main/java/com/daily/dayo/presentation/adapter/FeedListAdapter.kt
  app/src/main/java/com/daily/dayo/presentation/adapter/FolderPostListAdapter.kt
  app/src/main/java/com/daily/dayo/presentation/adapter/FollowListAdapter.kt
  app/src/main/java/com/daily/dayo/presentation/adapter/HomeDayoPickAdapter.kt
  app/src/main/java/com/daily/dayo/presentation/adapter/HomeNewAdapter.kt
  app/src/main/java/com/daily/dayo/presentation/adapter/PostCommentAdapter.kt
  app/src/main/java/com/daily/dayo/presentation/adapter/PostImageSliderAdapter.kt
  app/src/main/java/com/daily/dayo/presentation/adapter/ProfileBookmarkPostListAdapter.kt
  app/src/main/java/com/daily/dayo/presentation/adapter/ProfileFolderListAdapter.kt
  app/src/main/java/com/daily/dayo/presentation/adapter/ProfileLikePostListAdapter.kt
  app/src/main/java/com/daily/dayo/presentation/adapter/SearchTagResultPostAdapter.kt
  app/src/main/java/com/daily/dayo/presentation/adapter/WriteUploadImageListAdapter.kt
  app/src/main/java/com/daily/dayo/presentation/fragment/account/signup/SignupEmailSetProfileFragment.kt
  app/src/main/java/com/daily/dayo/presentation/fragment/feed/FeedFragment.kt
  app/src/main/java/com/daily/dayo/presentation/fragment/home/HomeDayoPickPostListFragment.kt
  app/src/main/java/com/daily/dayo/presentation/fragment/home/HomeNewPostListFragment.kt
  app/src/main/java/com/daily/dayo/presentation/fragment/mypage/folder/FolderEditFragment.kt
  app/src/main/java/com/daily/dayo/presentation/fragment/mypage/folder/FolderFragment.kt
  app/src/main/java/com/daily/dayo/presentation/fragment/mypage/folder/FolderSettingAddFragment.kt
  app/src/main/java/com/daily/dayo/presentation/fragment/mypage/follow/FollowerListFragment.kt
  app/src/main/java/com/daily/dayo/presentation/fragment/mypage/follow/FollowingListFragment.kt
  app/src/main/java/com/daily/dayo/presentation/fragment/mypage/profile/ProfileBookmarkPostListFragment.kt
  app/src/main/java/com/daily/dayo/presentation/fragment/mypage/profile/ProfileEditFragment.kt
  app/src/main/java/com/daily/dayo/presentation/fragment/mypage/profile/ProfileFolderListFragment.kt
  app/src/main/java/com/daily/dayo/presentation/fragment/mypage/profile/ProfileFragment.kt
  app/src/main/java/com/daily/dayo/presentation/fragment/mypage/profile/ProfileLikePostListFragment.kt
  app/src/main/java/com/daily/dayo/presentation/fragment/post/PostFragment.kt
  app/src/main/java/com/daily/dayo/presentation/fragment/search/SearchResultFragment.kt
  app/src/main/java/com/daily/dayo/presentation/fragment/write/WriteFragment.kt
Labels: feature, refactoring

#272 #268 [layout] Update FollowFragment
  app/src/main/java/com/daily/dayo/data/datasource/remote/follow/FollowApiService.kt
  app/src/main/java/com/daily/dayo/data/datasource/remote/follow/FollowResponse.kt
  app/src/main/java/com/daily/dayo/data/repository/FollowRepositoryImpl.kt
  app/src/main/java/com/daily/dayo/domain/repository/FollowRepository.kt
  app/src/main/java/com/daily/dayo/domain/usecase/follow/RequestListAllMyFollowerUseCase.kt
  app/src/main/java/com/daily/dayo/domain/usecase/follow/RequestListAllMyFollowingUseCase.kt
  app/src/main/java/com/daily/dayo/presentation/adapter/FollowListAdapter.kt
  app/src/main/java/com/daily/dayo/presentation/fragment/mypage/follow/FollowFragment.kt
  app/src/main/java/com/daily/dayo/presentation/fragment/mypage/follow/FollowerListFragment.kt
  app/src/main/java/com/daily/dayo/presentation/fragment/mypage/follow/FollowingListFragment.kt
  app/src/main/java/com/daily/dayo/presentation/fragment/mypage/profile/ProfileFragment.kt
  app/src/main/java/com/daily/dayo/presentation/viewmodel/FollowViewModel.kt
  app/src/main/res/drawable/ic_follow_empty.xml
  app/src/main/res/drawable/selector_button_follow.xml
  app/src/main/res/drawable/selector_tab_follow_count_text.xml
  app/src/main/res/drawable/selector_tab_follow_text.xml
  app/src/main/res/layout/fragment_follow.xml
  app/src/main/res/layout/fragment_follower_list.xml
  app/src/main/res/layout/fragment_following_list.xml
  app/src/main/res/layout/fragment_profile.xml
  app/src/main/res/layout/item_follow.xml
  app/src/main/res/layout/tab_follow.xml
  app/src/main/res/navigation/nav_graph.xml
  app/src/main/res/values/strings.xml
Labels: feature, layout

#273 #269 [layout] Update FolderFragment
  app/src/main/java/com/daily/dayo/data/mapper/FolderMapper.kt
  app/src/main/java/com/daily/dayo/domain/model/Folder.kt
  app/src/main/java/com/daily/dayo/presentation/fragment/mypage/folder/FolderEditFragment.kt
  app/src/main/java/com/daily/dayo/presentation/fragment/mypage/folder/FolderFragment.kt
  app/src/main/java/com/daily/dayo/presentation/fragment/mypage/profile/ProfileFragment.kt
  app/src/main/java/com/daily/dayo/presentation/fragment/write/WriteFolderFragment.kt
  app/src/main/res/drawable/ic_folder_post_empty.xml
  app/src/main/res/layout/fragment_folder.xml
  app/src/main/res/layout/item_folder_list.xml
  app/src/main/res/layout/item_folder_post.xml
  app/src/main/res/layout/item_profile_folder.xml
  app/src/main/res/values/colors.xml
  app/src/main/res/values/strings.xml
Labels: layout
