Repository Daily-DAYO/DAYO_Android, pull requests merged in 2022-08, with the labels that each got.

#283 #275 [layout] Update Feed Post Layout
  app/src/main/java/com/daily/dayo/common/CountPlaceUtil.kt
  app/src/main/java/com/daily/dayo/data/datasource/remote/post/PostResponse.kt
  app/src/main/java/com/daily/dayo/data/mapper/PostMapper.kt
  app/src/main/java/com/daily/dayo/domain/model/Post.kt
  app/src/main/java/com/daily/dayo/presentation/adapter/FeedListAdapter.kt
  app/src/main/java/com/daily/dayo/presentation/fragment/feed/FeedFragment.kt
  app/src/main/java/com/daily/dayo/presentation/fragment/post/PostOptionFragment.kt
  app/src/main/res/drawable/ic_comment.xml
  app/src/main/res/drawable/ic_feed_empty.xml
  app/src/main/res/layout/fragment_feed.xml
  app/src/main/res/layout/fragment_post_option.xml
  app/src/main/res/layout/item_feed_post.xml
  app/src/main/res/navigation/nav_graph.xml
  app/src/main/res/values/strings.xml
Labels: layout

#282 #276 [feature] Add Contact Mail
  app/src/main/java/com/daily/dayo/common/DefaultDialog.kt
  app/src/main/java/com/daily/dayo/presentation/fragment/setting/SettingFragment.kt
  app/src/main/res/drawable/selector_dialog_confirm_default_button.xml
  app/src/main/res/values/strings.xml
Labels: feature

#281 #277 [layout] Update Notification Layout
  app/src/main/java/com/daily/dayo/data/datasource/remote/alarm/AlarmResponse.kt
  app/src/main/java/com/daily/dayo/data/mapper/AlarmMapper.kt
  app/src/main/java/com/daily/dayo/domain/model/Notification.kt
  app/src/main/java/com/daily/dayo/presentation/adapter/NotificationListAdapter.kt
  app/src/main/java/com/daily/dayo/presentation/fragment/notification/NotificationFragment.kt
  app/src/main/res/drawable/ic_notification.xml
  app/src/main/res/drawable/ic_notification_empty.xml
  app/src/main/res/layout/fragment_notification.xml
  app/src/main/res/layout/item_notification.xml
  app/src/main/res/values/strings.xml
Labels: layout

#288 #250 [feature] ChangePassword in Setting
  app/src/main/java/com/daily/dayo/data/datasource/remote/member/MemberApiService.kt
  app/src/main/java/com/daily/dayo/data/repository/MemberRepositoryImpl.kt
  app/src/main/java/com/daily/dayo/domain/repository/MemberRepository.kt
  app/src/main/java/com/daily/dayo/domain/usecase/member/RequestChangePasswordUseCase.kt
  app/src/main/java/com/daily/dayo/domain/usecase/member/RequestCheckCurrentPasswordUseCase.kt
  app/src/main/java/com/daily/dayo/domain/usecase/member/RequestCheckEmailUseCase.kt
  app/src/main/java/com/daily/dayo/domain/usecase/member/RequestSettingChangePasswordUseCase.kt
  app/src/main/java/com/daily/dayo/presentation/fragment/account/findAccount/FindAccountPasswordCheckEmailCertificateFragment.kt
  app/src/main/java/com/daily/dayo/presentation/fragment/account/findAccount/FindAccountPasswordCheckEmailFragment.kt
  app/src/main/java/com/daily/dayo/presentation/fragment/account/findAccount/FindAccountPasswordCompleteFragment.kt
  app/src/main/java/com/daily/dayo/presentation/fragment/account/findAccount/FindAccountPasswordNewPasswordConfirmationFragment.kt
  app/src/main/java/com/daily/dayo/presentation/fragment/account/findAccount/FindAccountPasswordNewPasswordFragment.kt
  app/src/main/java/com/daily/dayo/presentation/fragment/account/signin/LoginEmailFragment.kt
  app/src/main/java/com/daily/dayo/presentation/fragment/setting/SettingFragment.kt
  app/src/main/java/com/daily/dayo/presentation/fragment/setting/changePassword/SettingChangePasswordCurrentFragment.kt
  app/src/main/java/com/daily/dayo/presentation/fragment/setting/changePassword/SettingChangePasswordNewFragment.kt
  app/src/main/java/com/daily/dayo/presentation/viewmodel/AccountViewModel.kt
  app/src/main/res/layout/fragment_find_account_password_check_email.xml
  app/src/main/res/layout/fragment_find_account_password_check_email_certificate.xml
  app/src/main/res/layout/fragment_find_account_password_complete.xml
  app/src/main/res/layout/fragment_find_account_password_new_password.xml
  app/src/main/res/layout/fragment_find_account_password_new_password_confirmation.xml
  app/src/main/res/layout/fragment_login_email.xml
  app/src/main/res/layout/fragment_setting_change_password_current.xml
  app/src/main/res/layout/fragment_setting_change_password_new.xml
  app/src/main/res/navigation/nav_graph.xml
  app/src/main/res/navigation/nav_graph_login.xml
  app/src/main/res/raw/lottie_complete_check_green.json
  app/src/main/res/values/strings.xml
Labels: feature, layout

#289 #285 [layout] Update ProfileFragment
  app/src/main/java/com/daily/dayo/data/datasource/remote/member/MemberResponse.kt
  app/src/main/java/com/daily/dayo/data/mapper/ProfileMapper.kt
  app/src/main/java/com/daily/dayo/domain/model/Profile.kt
  app/src/main/java/com/daily/dayo/presentation/fragment/mypage/folder/FolderFragment.kt
  app/src/main/java/com/daily/dayo/presentation/fragment/mypage/profile/ProfileBookmarkPostListFragment.kt
  app/src/main/java/com/daily/dayo/presentation/fragment/mypage/profile/ProfileFolderListFragment.kt
  app/src/main/java/com/daily/dayo/presentation/fragment/mypage/profile/ProfileFragment.kt
  app/src/main/java/com/daily/dayo/presentation/fragment/mypage/profile/ProfileLikePostListFragment.kt
  app/src/main/java/com/daily/dayo/presentation/fragment/mypage/profile/ProfileOptionFragment.kt
  app/src/main/res/drawable/ic_profile_empty.xml
  app/src/main/res/layout/fragment_profile.xml
  app/src/main/res/layout/fragment_profile_bookmark_post_list.xml
  app/src/main/res/layout/fragment_profile_folder_list.xml
  app/src/main/res/layout/fragment_profile_like_post_list.xml
  app/src/main/res/layout/fragment_profile_option.xml
  app/src/main/res/layout/item_folder_post.xml
  app/src/main/res/navigation/nav_graph.xml
  app/src/main/res/values/strings.xml
Labels: layout
