Repository Daily-DAYO/DAYO_Android, pull requests merged in 2022-02, with the labels that each got.

#138 #137 [layout] WriteOptionFragment, WriteTagFragment
  app/src/main/java/com/daily/dayo/home/DayoPickPostListFragment.kt
  app/src/main/java/com/daily/dayo/repository/WriteRepository.kt
  app/src/main/java/com/daily/dayo/util/Event.kt
  app/src/main/java/com/daily/dayo/write/WriteFragment.kt
  app/src/main/java/com/daily/dayo/write/WriteOptionFragment.kt
  app/src/main/java/com/daily/dayo/write/WriteTagFragment.kt
  app/src/main/java/com/daily/dayo/write/viewmodel/WriteOptionViewModel.kt
  app/src/main/res/drawable/dialog_bottom_sheet_default.xml
  app/src/main/res/drawable/ic_swipe_top_bar.xml
  app/src/main/res/drawable/ic_tag_list_empty.xml
  app/src/main/res/drawable/selector_button_write_option_private.xml
  app/src/main/res/drawable/selector_button_write_option_private_text.xml
  app/src/main/res/drawable/selector_edittext_write_tag.xml
  app/src/main/res/layout/fragment_write_option.xml
  app/src/main/res/layout/fragment_write_tag.xml
  app/src/main/res/layout/item_write_post_tag_chip.xml
  app/src/main/res/navigation/nav_graph.xml
  app/src/main/res/values-night/themes.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/values/themes.xml
Labels: bug, feature, layout

#144 #143 [feature] PostFragment
  app/src/main/java/com/daily/dayo/post/PostFragment.kt
  app/src/main/java/com/daily/dayo/post/PostOptionFragment.kt
  app/src/main/java/com/daily/dayo/post/PostOptionMineFragment.kt
  app/src/main/java/com/daily/dayo/post/adapter/PostCommentAdapter.kt
  app/src/main/java/com/daily/dayo/post/adapter/PostTagListAdapter.kt
  app/src/main/java/com/daily/dayo/post/model/ResponsePost.kt
  app/src/main/java/com/daily/dayo/util/KeyboardVisibilityUtils.kt
  app/src/main/java/com/daily/dayo/util/TimeChangerUtil.kt
  app/src/main/res/drawable/dialog_confirm_default.xml
  app/src/main/res/drawable/ic_bookmark_default.xml
  app/src/main/res/drawable/ic_post_like_checked.xml
  app/src/main/res/drawable/ic_post_like_default.xml
  app/src/main/res/drawable/ic_share.xml
  app/src/main/res/drawable/selector_dialog_confirm_default_button_left.xml
  app/src/main/res/drawable/selector_dialog_confirm_default_button_right.xml
  app/src/main/res/drawable/selector_textview_post_tag_text.xml
  app/src/main/res/layout/dialog_defalt_explanation_confirm.xml
  app/src/main/res/layout/dialog_default_confirm.xml
  app/src/main/res/layout/fragment_post.xml
  app/src/main/res/layout/fragment_post_option.xml
  app/src/main/res/layout/fragment_post_option_mine.xml
  app/src/main/res/layout/item_post_comment.xml
  app/src/main/res/layout/item_post_tag.xml
  app/src/main/res/values/strings.xml
Labels: bug, feature, layout

#146 #145 [feature] LikeButton in HomeFragment, PostFragment
  app/src/main/java/com/daily/dayo/home/DayoPickPostListFragment.kt
  app/src/main/java/com/daily/dayo/home/HomeFragment.kt
  app/src/main/java/com/daily/dayo/home/adapter/HomeFragmentPagerStateAdapter.kt
  app/src/main/java/com/daily/dayo/home/model/ResponseHomePost.kt
  app/src/main/java/com/daily/dayo/home/viewmodel/HomeViewModel.kt
  app/src/main/java/com/daily/dayo/post/PostFragment.kt
  app/src/main/res/layout/fragment_post.xml
  app/src/main/res/layout/item_main_post.xml
Labels: feature

#148 #147 [bug] HomeFragment
  .idea/.gitignore
  app/src/main/java/com/daily/dayo/home/DayoPickPostListFragment.kt
  app/src/main/java/com/daily/dayo/home/HomeFragment.kt
  app/src/main/java/com/daily/dayo/home/viewmodel/HomeViewModel.kt
Labels: bug

#150 #149 [layout] LoginFragment
  app/src/main/java/com/daily/dayo/login/LoginFragment.kt
  app/src/main/java/com/daily/dayo/signup/email/SignupEmailCompleteFragment.kt
  app/src/main/java/com/daily/dayo/signup/email/SignupEmailSetProfileFragment.kt
  app/src/main/java/com/daily/dayo/util/BindingAdapter.kt
  app/src/main/res/drawable/button_login_email.xml
  app/src/main/res/drawable/button_login_google.xml
  app/src/main/res/drawable/button_login_kakao.xml
  app/src/main/res/drawable/ic_dayo_circle.xml
  app/src/main/res/drawable/ic_dayo_circle_grayscale.xml
  app/src/main/res/drawable/ic_dayo_logo.xml
  app/src/main/res/drawable/ic_dayo_logo_text_vertical.xml
  app/src/main/res/drawable/selector_button_write.xml
  app/src/main/res/layout/fragment_login.xml
  app/src/main/res/layout/fragment_my_profile.xml
  app/src/main/res/layout/fragment_other_profile.xml
  app/src/main/res/layout/fragment_post.xml
  app/src/main/res/layout/fragment_signup_email_complete.xml
  app/src/main/res/layout/item_feed_post.xml
  app/src/main/res/layout/item_feed_post_image.xml
  app/src/main/res/layout/item_folder_post.xml
  app/src/main/res/layout/item_follow.xml
  app/src/main/res/layout/item_main_post.xml
  app/src/main/res/layout/item_post_comment.xml
  app/src/main/res/layout/item_profile_like_post.xml
  app/src/main/res/navigation/nav_graph_login.xml
  app/src/main/res/values/strings.xml
Labels: layout

#152 #151 [feature] LoginFragment with Email Signup
  app/src/main/java/com/daily/dayo/login/LoginRepository.kt
  app/src/main/java/com/daily/dayo/login/LoginViewModel.kt
  app/src/main/java/com/daily/dayo/login/model/LoginEmail.kt
  app/src/main/java/com/daily/dayo/network/login/LoginApiHelper.kt
  app/src/main/java/com/daily/dayo/network/login/LoginApiHelperImpl.kt
  app/src/main/java/com/daily/dayo/network/login/LoginApiService.kt
  app/src/main/java/com/daily/dayo/signup/email/SignupEmailCompleteFragment.kt
  app/src/main/java/com/daily/dayo/signup/email/SignupEmailSetProfileFragment.kt
  app/src/main/res/values/strings.xml
Labels: feature

#154 #141 [feature] NewPostListFragment
  app/src/main/java/com/daily/dayo/home/DayoPickPostListFragment.kt
  app/src/main/java/com/daily/dayo/home/NewPostListFragment.kt
  app/src/main/java/com/daily/dayo/home/adapter/HomeDayoPickAdapter.kt
  app/src/main/res/layout/fragment_new_post_list.xml
Labels: feature

#155 #153 [layout] MyProfileFragment Option Dialog
  app/src/main/java/com/daily/dayo/profile/MyProfileOptionFragment.kt
  app/src/main/res/layout/fragment_my_profile.xml
  app/src/main/res/layout/fragment_my_profile_option.xml
  app/src/main/res/values/strings.xml
Labels: layout

#158 #157 [feature] Choose a folder when writing
  app/src/main/java/com/daily/dayo/write/WriteFolderFragment.kt
  app/src/main/java/com/daily/dayo/write/WriteFragment.kt
  app/src/main/java/com/daily/dayo/write/WriteOptionFragment.kt
  app/src/main/java/com/daily/dayo/write/adapter/WriteFolderAdapter.kt
  app/src/main/res/navigation/nav_graph.xml
Labels: feature

#159 #156 [layout] PostFragment Comment Delete Dialog
  app/src/main/java/com/daily/dayo/post/PostFragment.kt
  app/src/main/java/com/daily/dayo/post/adapter/PostCommentAdapter.kt
  app/src/main/java/com/daily/dayo/post/viewmodel/PostViewModel.kt
  app/src/main/res/layout/fragment_post.xml
  app/src/main/res/layout/item_post_comment.xml
  app/src/main/res/values/strings.xml
Labels: layout

#164 #161 [layout] MyProfileFragment, OtherProfileFragment
  app/src/main/java/com/daily/dayo/profile/MyProfileFragment.kt
  app/src/main/java/com/daily/dayo/profile/OtherProfileFragment.kt
  app/src/main/res/drawable/background_profile_round_bottom_corner.xml
  app/src/main/res/drawable/ic_profile_default_user_profile.xml
  app/src/main/res/drawable/tab_indicator.xml
  app/src/main/res/layout/fragment_my_profile.xml
  app/src/main/res/layout/fragment_other_profile.xml
  app/src/main/res/values/style.xml
Labels: layout

#165 #160 [feature] FeedFragment
  app/src/main/java/com/daily/dayo/di/ServiceModule.kt
  app/src/main/java/com/daily/dayo/feed/FeedFragment.kt
  app/src/main/java/com/daily/dayo/feed/adapter/FeedCommentAdapter.kt
  app/src/main/java/com/daily/dayo/feed/adapter/FeedListAdapter.kt
  app/src/main/java/com/daily/dayo/feed/model/Feed.kt
  app/src/main/java/com/daily/dayo/feed/viewmodel/FeedViewModel.kt
  app/src/main/java/com/daily/dayo/network/feed/FeedApiHelper.kt
  app/src/main/java/com/daily/dayo/network/feed/FeedApiHelperImpl.kt
  app/src/main/java/com/daily/dayo/network/feed/FeedApiService.kt
  app/src/main/java/com/daily/dayo/repository/FeedRepository.kt
  app/src/main/res/layout/fragment_feed.xml
  app/src/main/res/layout/item_feed_post.xml
  app/src/main/res/layout/item_feed_post_comment.xml
  app/src/main/res/navigation/nav_graph.xml
Labels: feature, layout

#167 #166 [layout] Set StatusBar Color
  app/src/main/res/values-night/themes.xml
  app/src/main/res/values/themes.xml
Labels: layout

#169 #168 [feature] ProfileLikePostListFragment
  app/src/main/java/com/daily/dayo/network/profile/ProfileApiHelper.kt
  app/src/main/java/com/daily/dayo/network/profile/ProfileApiHelperImpl.kt
  app/src/main/java/com/daily/dayo/network/profile/ProfileApiService.kt
  app/src/main/java/com/daily/dayo/profile/MyProfileFragment.kt
  app/src/main/java/com/daily/dayo/profile/ProfileFolderListFragment.kt
  app/src/main/java/com/daily/dayo/profile/ProfileLikePostListFragment.kt
  app/src/main/java/com/daily/dayo/profile/adapter/MyProfileFragmentPagerStateAdapter.kt
  app/src/main/java/com/daily/dayo/profile/adapter/ProfileLikePostListAdapter.kt
  app/src/main/java/com/daily/dayo/profile/model/Profile.kt
  app/src/main/java/com/daily/dayo/profile/viewmodel/MyProfileViewModel.kt
  app/src/main/java/com/daily/dayo/repository/ProfileRepository.kt
  app/src/main/res/layout/fragment_folder.xml
  app/src/main/res/layout/fragment_profile_like_post_list.xml
  app/src/main/res/layout/item_folder_post.xml
  app/src/main/res/layout/item_profile_like_post.xml
  app/src/main/res/navigation/nav_graph.xml
Labels: feature, layout

#173 #170 [layout] EmailLoginFragment
  app/src/main/java/com/daily/dayo/login/LoginEmailFragment.kt
  app/src/main/java/com/daily/dayo/login/LoginFragment.kt
  app/src/main/java/com/daily/dayo/post/PostOptionMineFragment.kt
  app/src/main/java/com/daily/dayo/write/WriteFragment.kt
  app/src/main/java/com/daily/dayo/write/viewmodel/WriteOptionViewModel.kt
  app/src/main/res/drawable/edittext_background_remove_padding.xml
  app/src/main/res/layout/fragment_login_email.xml
  app/src/main/res/navigation/nav_graph.xml
  app/src/main/res/navigation/nav_graph_login.xml
  app/src/main/res/values/strings.xml
Labels: layout

#175 #172 [layout] Add EmailCertificateFragment in Signup with Email
  app/src/main/java/com/daily/dayo/signup/email/SignupEmailSetEmailAddressCertificateFragment.kt
  app/src/main/java/com/daily/dayo/signup/email/SignupEmailSetEmailAddressFragment.kt
  app/src/main/res/layout/fragment_signup_email_set_email_address.xml
  app/src/main/res/layout/fragment_signup_email_set_email_address_certificate.xml
  app/src/main/res/navigation/nav_graph_login.xml
  app/src/main/res/values/strings.xml
Labels: layout

#177 #176 [layout] MyProfileFragment Scroll
  app/src/main/java/com/daily/dayo/profile/MyProfileFragment.kt
  app/src/main/res/layout/fragment_folder.xml
  app/src/main/res/layout/fragment_my_profile.xml
  app/src/main/res/layout/fragment_other_profile.xml
  app/src/main/res/layout/fragment_profile_bookmark_post_list.xml
  app/src/main/res/layout/fragment_profile_folder_list.xml
  app/src/main/res/layout/fragment_profile_like_post_list.xml
Labels: layout

#179 #178 [feature] Post Bookmarking
  app/src/main/java/com/daily/dayo/network/post/PostApiHelper.kt
  app/src/main/java/com/daily/dayo/network/post/PostApiHelperImpl.kt
  app/src/main/java/com/daily/dayo/network/post/PostApiService.kt
  app/src/main/java/com/daily/dayo/post/PostFragment.kt
  app/src/main/java/com/daily/dayo/post/model/ResponsePost.kt
  app/src/main/java/com/daily/dayo/post/viewmodel/PostViewModel.kt
  app/src/main/java/com/daily/dayo/repository/PostRepository.kt
  app/src/main/res/layout/fragment_post.xml
Labels: feature

#180 #171 [feature] ProfileBookmarkListFragment
  app/src/main/java/com/daily/dayo/network/profile/ProfileApiHelper.kt
  app/src/main/java/com/daily/dayo/network/profile/ProfileApiHelperImpl.kt
  app/src/main/java/com/daily/dayo/network/profile/ProfileApiService.kt
  app/src/main/java/com/daily/dayo/profile/ProfileBookmarkPostListFragment.kt
  app/src/main/java/com/daily/dayo/profile/adapter/ProfileBookmarkPostListAdapter.kt
  app/src/main/java/com/daily/dayo/profile/model/Profile.kt
  app/src/main/java/com/daily/dayo/profile/viewmodel/MyProfileViewModel.kt
  app/src/main/java/com/daily/dayo/repository/ProfileRepository.kt
Labels: feature

#185 #184 [layout] NotificationFragment
  app/src/main/java/com/daily/dayo/MainActivity.kt
  app/src/main/java/com/daily/dayo/notification/NotificationFragment.kt
  app/src/main/java/com/daily/dayo/notification/adapter/NotificationListAdapter.kt
  app/src/main/java/com/daily/dayo/notification/model/Notification.kt
  app/src/main/res/drawable/ic_unread.xml
  app/src/main/res/layout/fragment_notification.xml
  app/src/main/res/layout/item_notification.xml
  app/src/main/res/navigation/nav_graph.xml
Labels: layout

#187 #174 [layout] Changing SignupEmailFragment
  app/src/main/java/com/daily/dayo/signup/email/SignupEmailSetEmailAddressCertificateFragment.kt
  app/src/main/java/com/daily/dayo/signup/email/SignupEmailSetEmailAddressFragment.kt
  app/src/main/java/com/daily/dayo/signup/email/SignupEmailSetPasswordConfirmationFragment.kt
  app/src/main/java/com/daily/dayo/signup/email/SignupEmailSetPasswordFragment.kt
  app/src/main/java/com/daily/dayo/signup/email/SignupEmailSetProfileFragment.kt
  app/src/main/java/com/daily/dayo/util/SetTextInputLayout.kt
  app/src/main/res/drawable/ic_camera_button.xml
  app/src/main/res/drawable/ic_user_profile_image_empty.xml
  app/src/main/res/layout/fragment_login_email.xml
  app/src/main/res/layout/fragment_signup_email_complete.xml
  app/src/main/res/layout/fragment_signup_email_set_email_address.xml
  app/src/main/res/layout/fragment_signup_email_set_email_address_certificate.xml
  app/src/main/res/layout/fragment_signup_email_set_password.xml
  app/src/main/res/layout/fragment_signup_email_set_password_confirmation.xml
  app/src/main/res/layout/fragment_signup_email_set_profile.xml
  app/src/main/res/layout/fragment_signup_email_set_profile_image_option.xml
  app/src/main/res/values/strings.xml
Labels: layout

#192 #189 [feature] HomeFragment DAYO PICK List
  app/src/main/java/com/daily/dayo/home/DayoPickPostListFragment.kt
  app/src/main/java/com/daily/dayo/home/HomeFragment.kt
  app/src/main/java/com/daily/dayo/home/NewPostListFragment.kt
  app/src/main/java/com/daily/dayo/home/viewmodel/HomeViewModel.kt
  app/src/main/java/com/daily/dayo/network/home/HomeApiHelper.kt
  app/src/main/java/com/daily/dayo/network/home/HomeApiHelperImpl.kt
  app/src/main/java/com/daily/dayo/network/home/HomeApiService.kt
  app/src/main/java/com/daily/dayo/repository/HomeRepository.kt
Labels: feature

#196 #195 [bug] First Login Error
  app/src/main/java/com/daily/dayo/SharedManager.kt
  app/src/main/java/com/daily/dayo/di/NetworkModule.kt
  app/src/main/java/com/daily/dayo/login/LoginFragment.kt
  app/src/main/java/com/daily/dayo/login/LoginRepository.kt
  app/src/main/java/com/daily/dayo/login/LoginRequest.kt
  app/src/main/java/com/daily/dayo/login/LoginResponse.kt
  app/src/main/java/com/daily/dayo/login/LoginViewModel.kt
  app/src/main/java/com/daily/dayo/login/MemberResponse.kt
  app/src/main/java/com/daily/dayo/login/model/Login.kt
  app/src/main/java/com/daily/dayo/network/login/LoginApiHelper.kt
  app/src/main/java/com/daily/dayo/network/login/LoginApiHelperImpl.kt
  app/src/main/java/com/daily/dayo/network/login/LoginApiService.kt
  app/src/main/java/com/daily/dayo/repository/LoginRepository.kt
Labels: bug

#194 #188 [feature] AutoLogin
  app/src/main/java/com/daily/dayo/SharedManager.kt
  app/src/main/java/com/daily/dayo/login/LoginFragment.kt
  app/src/main/java/com/daily/dayo/login/LoginRepository.kt
  app/src/main/java/com/daily/dayo/login/LoginRequest.kt
  app/src/main/java/com/daily/dayo/login/LoginResponse.kt
  app/src/main/java/com/daily/dayo/login/LoginViewModel.kt
  app/src/main/java/com/daily/dayo/login/MemberResponse.kt
  app/src/main/java/com/daily/dayo/login/model/Login.kt
  app/src/main/java/com/daily/dayo/network/login/LoginApiHelper.kt
  app/src/main/java/com/daily/dayo/network/login/LoginApiHelperImpl.kt
  app/src/main/java/com/daily/dayo/network/login/LoginApiService.kt
  app/src/main/java/com/daily/dayo/repository/LoginRepository.kt
Labels: feature
